.features {
    @media (max-width: $tb_bp) {
        padding-top: 20px;
    }
    &__title {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 60px;
        margin-bottom: 80px;

        @media (max-width: $tb_bp) {
            grid-template-columns: 1fr;
            grid-gap: 30px;
            margin-bottom: 40px;
        }

        h2 {
            margin-bottom: 30px;
        }

        p {
            font-size: 24px;
            max-width: 850px;

            @media (max-width: $tb_bp) {
                font-size: 18px;
            }
        }
    }

    &__table {
        margin-bottom: 110px;

        @media (max-width: $tb_bp) {
            margin-bottom: 50px;
        }

        .table__head {
            @media (max-width: $tb_bp) {
                display: none;
            }
        }

        .table__name {
            display: none;
            @media (max-width: $tb_bp) {
                display: block;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #000000;
                font-size: 12px;
                margin-bottom: 5px;
            }
        }

        table {
            width: 100%;
            box-sizing: border-box;
            border-spacing: 0;

            .table__tag {
                color: $orange;
                text-transform: uppercase;
                font-weight: 500;

                a {
                    text-transform: none;
                    font-weight: 500;
                    color: #39ACFF;
                }
            }

            @media (min-width: $tb_bp) {
                table-layout: fixed;

                thead {
                    td {
                        border-top: 1px solid rgba(132, 130, 130, 0.37);
                        letter-spacing: 0.1em;
                        font-size: 16px;
                        text-transform: uppercase;
                        padding-top: 25px;
                        padding-bottom: 25px;
                    }
                }

                .table__category {
                    padding-left: 0;
                }

                td {
                    vertical-align: top;
                    padding: 0.5rem 2rem;
                    border-right: 1px solid #ccc;

                    &:last-child {
                        border-right: none;
                    }

                    &:first-child {
                        width: 25%;
                    }

                    &:nth-child(2) {
                        width: 35%;
                    }

                    &:nth-child(3) {
                        width: 40%;
                    }
                }

                tbody {
                    tr:first-child {
                        td {
                            border-top: 1px solid #ccc;
                            padding-top: 1.5rem;
                        }
                    }

                    tr:last-child {
                        td {
                            padding-bottom: 1.5rem;
                        }
                    }
                }
            }

            @media (max-width: $tb_bp) {

                &,
                tbody,
                tr,
                td {
                    display: block;
                }

                tbody {
                    border-bottom: 1px solid #ccc;
                    padding: 25px 0;
                }

                .header {
                    font-size: 1.5em;
                }

                tr {
                    display: flex;
                    flex-wrap: wrap;

                    td {
                        width: 100%;
                        padding: 0.5rem 1rem;
                        border-bottom: 1px solid #ccc;

                        @media (max-width: $tb_bp) {
                            padding: 0.5rem 0;
                            border: 0;
                        }

                        &.header {
                            width: 100%;
                            border: none;

                        }

                        //&:last-child {
                        //    width: 100px;
                        //    text-align: right;
                        //}
                    }
                }
            }
        }
    }

    &__profiles {
        margin-bottom: 150px;

        @media (max-width: $tb_bp) {
            margin-bottom: 90px;
        }

        h2:not(.orange) {
            margin-bottom: 60px;
            max-width: 630px;

            @media (max-width: $tb_bp) {
               margin-bottom: 40px;
            }
        }

        .items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 120px;

            @media (max-width: $tb_bp) {
                grid-template-columns: 1fr;
                grid-gap: 40px;
            }

            .item {
                position: relative;

                &:before {
                    content: '';
                    width: 144px;
                    height: 178px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(-50px, -50%);
                    background: url('../images/petal_light.svg') center / contain no-repeat;

                    @media (max-width: $tb_bp) {
                        width: 95px;
                        height: 128px;
                        transform: translate(0px, -50%);
                    }
                }

                h2 {
                    margin-bottom: 40px;

                    @media (max-width: $tb_bp) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    &__saving {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 150px;

        @media (max-width: $tb_bp) {
            grid-template-columns: 1fr;
           margin-bottom: 90px;
        }

        h2 {
            max-width: 380px;

            @media (max-width: $tb_bp) {
                margin-bottom: 40px;
            }
        }

        .items {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @media (max-width: $tb_bp) {
                grid-template-columns: 1fr;
            }

            > div {
                border-bottom: 1px solid $orange;

                @media (max-width: $tb_bp) {
                    padding: 20px 0;
                    border-color: rgba(132, 130, 130, 0.15);
                }

                h4 {
                    text-transform: none;
                    margin-bottom: 12px;
                }
                @media (min-width: $tb_bp) {
                    &:nth-child(odd) {
                        border-right: 1px solid $orange;
                    }

                    &:nth-child(4n+1),
                    &:nth-child(3) {
                        padding-right: 50px;
                        padding-bottom: 50px;
                    }

                    &:nth-child(4n+2),
                    &:nth-child(4) {
                        padding-left: 50px;
                        padding-bottom: 50px;
                    }

                    &:nth-child(n+3) {
                        padding-top: 50px;
                    }

                    &:nth-last-child(-n+2) {
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}