#home_slider {
    padding: 45px 0;

    @media (max-width: $tb_bp) {
        padding: 20px 0;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 50px;
        align-items: center;

        @media (max-width: $tb_bp) {
            grid-template-columns: 1fr;
        }

        .text {
            h1 {
                max-width: 560px;
                margin-bottom: 40px;
                font-weight: 500;
                font-size: 36px;

                @media (max-width: $tb_bp) {
                    font-size: 30px;
                }
            }

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                max-width: 500px;
                grid-gap: 60px;

                @media (max-width: $tb_bp) {
                    grid-gap: 40px;
                }

                li {
                    font-size: 21px;
                    color: $orange;
                    text-transform: uppercase;
                    position: relative;

                    &:first-child, &:nth-child(2) {
                        &:before {
                            content: '';
                            position: absolute;
                            bottom: -30px;
                            left: 0;
                            width: 60px;
                            height: 1px;
                            background: $orange;
                        }
                    }

                    span {
                        display: block;
                        max-width: 250px;
                        font-weight: 500;
                    }
                }
            }

            //a {
            //
            //}

            .buttons {
                margin-top: 40px;
                //display: grid;
                //grid-template-columns: auto auto;
                //grid-gap: 30px;

                &.two {
                    display: flex;
                    align-items: center;

                    > a {
                        margin-right: 20px;
                    }

                    @media (max-width: 992px) {
                        flex-direction: column;

                        > a {
                            margin-right: 0;
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            > div {
                @media (max-width: $tb_bp) {
                    text-align: center;
                }
            }
        }

        .image {
            @media (max-width: $tb_bp) {
                display: none;
            }
        }
    }
}

#modern {
    padding: 45px 0;
    .container {
        > h2 {
            text-align: center;
            margin: 0 auto 40px;
            font-weight: 500;
            max-width: 800px;
        }

        > p {
            text-align: center;
            margin: 0 auto 50px;
            font-size: 18px;
            max-width: 860px;
        }

        .content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;

            @media (max-width: $tb_bp) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 35px;
            }

            @media (max-width: $sp_bp) {
                grid-template-columns: 1fr;
            }

            .item {
                position: relative;
                padding-left: 54px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 28px;
                    height: 34px;
                    background: url('../images/icon_petal.svg') center / contain no-repeat;
                }

                h4 {
                    text-transform: none;
                }

                p {
                    @media (max-width: $tb_bp) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

#scratch {
    margin: 45px 0;

    @media (max-width: $tb_bp) {
        margin: 0;
    }

    .scratch__bg {
        background: $light;
        border-left: 1px solid $orange;
        border-right: 1px solid $orange;
        padding: 100px 40px;

        @media (max-width: $tb_bp) {
            padding: 40px 20px;
        }

        .collapseBackground {
            > h2 {
                max-width: 600px;
                margin: 90px auto 0;
                text-align: center;
                position: relative;
                padding-bottom: 90px;
                font-weight: 500;

                @media (max-width: $tb_bp) {
                    margin: 40px auto 0;
                    padding-bottom: 30px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 60px;
                    height: 1px;
                    background: $orange;
                }
            }
        }
    }


    .container {

        .title {
            text-align: center;
            max-width: 860px;
            margin: 0 auto;

            h2 {
                margin: 40px 0;
                font-weight: 500;

                @media (min-width: $dt_bp) {
                    font-size: 48px;
                }
            }

            h4 {
                &:not(.orange) {
                    letter-spacing: 0.2em;
                }
            }

            p {
                margin-bottom: 50px;

                @media (min-width: $dt_bp) {
                    font-size: 24px;

                    a {
                        font-size: 24px;
                    }
                }
            }

            .arrow {
                text-align: center;
                margin-top: 35px;

                img {
                    width: 32px;
                    height: 16px;
                    display: block;
                    margin: 0 auto;
                    transition: 0.3s all;
                }

                a {
                    &.active {
                        img {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
        }

        .content {
            max-width: 900px;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-gap: 90px;
            margin: 70px auto 0;

            @media (max-width: $tb_bp) {
                grid-template-columns: 1fr;
                grid-gap: 30px;
                margin-top: 40px;
            }

            .text {
                @media (min-width: $dt_bp) {
                    font-size: 18px;
                }
                h4 {
                    margin-bottom: 20px;

                    &.orange {
                        padding: 25px 0;
                        position: relative;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 1px;
                            width: 60px;
                            background: $orange;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 1px;
                            width: 60px;
                            background: $orange;
                        }
                    }
                }

                h5 {
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 20px;
                }
            }

            .image {
                .logo {
                    margin-top: 45px;

                    @media (max-width: $tb_bp) {
                        margin-top: 30px;
                    }

                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

#purpose {
    padding: 45px 0 90px;
    .content {
        display: grid;
        grid-template-columns: 40% 1fr;
        align-items: center;

        @media (max-width: $tb_bp) {
            grid-template-columns: 1fr;
        }

        .title {
            background: $orange;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                color: $white;
                max-width: 340px;
                padding: 280px 0;
                margin: 0 auto;
                font-weight: 500;

                @media (max-width: $tb_bp) {
                    padding: 30px 20px;
                    font-size: 24px;
                }
            }
        }

        .list {
            border: 1px solid $orange;
            border-left: 0;
            padding: 70px 30px;

            @media (max-width: $tb_bp) {
                padding: 0 20px;
                border: 1px solid $orange;
            }

            ul {
                counter-reset: itemnum;
                li {
                    position: relative;
                    font-size: 24px;
                    line-height: 120.4%;
                    padding: 40px 0 40px 85px;
                    max-width: 370px;

                    @media (max-width: $tb_bp) {
                        font-size: 18px;
                        padding: 30px 0 30px 60px;
                    }

                    &:before {
                        position: absolute;
                        left: 0;
                        counter-increment: itemnum;
                        content: counters(itemnum, "", decimal-leading-zero);
                        color: rgba(255, 105, 0, 0.38);
                        font-size: 60px;
                        bottom: 50px;

                        @media (max-width: $tb_bp) {
                            font-size: 38px;
                        }
                    }

                    &:after {
                        position: absolute;
                        bottom: 0;
                        left: 85px;
                        content: '';
                        width: 60px;
                        background: $orange;
                        height: 1px;

                        @media (max-width: $tb_bp) {
                            left: 60px;
                        }
                    }

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

#cases {
    margin-bottom: 80px;

    @media (max-width: $tb_bp) {
        margin-bottom: 20px;
    }

    h2 {
        margin-bottom: 40px;
    }
    .cases-home {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px;

        @media (max-width: $tb_bp) {
            grid-template-columns: 1fr;
        }

        .item {
            img {
                margin-bottom: 30px;
            }

            a {
                color: #000000;
                transition: 0.3s all;

                &:hover {
                    color: $orange;
                }
            }
        }
    }
}

#faq {
    padding: 45px 0;

    h2 {
        margin-bottom: 40px;

        @media (max-width: $tb_bp) {
            margin-bottom: 20px;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 90px;

        @media (max-width: $tb_bp) {
            grid-template-columns: 1fr;

            .image {
                display: none;
            }
        }
    }
}

#lets_chat {
    background: #F9F9F9;
    padding: 130px 0;
    margin-top: 45px;

    @media (max-width: $tb_bp) {
        padding: 50px 0;
        margin-top: 0;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 200px;

        @media (max-width: $tb_bp) {
            grid-gap: 50px;
            grid-template-columns: 1fr;
        }

        .text {
            h2 {
                margin-bottom: 40px;
            }

            p {
                margin-bottom: 20px;

                @media (min-width: $dt_bp) {
                    font-size: 24px;
                }
            }

            .whitepaper {
                margin-bottom: 40px;

                @media (min-width: $dt_bp) {
                    font-size: 24px;

                    a {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

#footer {
    background: #F0F0F0;
    padding: 50px 0 35px;
    text-align: center;

    @media (max-width: $tb_bp) {
        text-align: left;
    }

    .nav {
        margin-bottom: 25px;
        ul {
            display: inline-flex;

            @media (max-width: $tb_bp) {
                display: flex;
                flex-direction: column;
            }

            li {
                padding: 0 18px;
                text-transform: uppercase;

                @media (max-width: $tb_bp) {
                    padding: 4px 0;
                }

                a {
                    color: #333;
                    transition: 0.3s all;

                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }

    .copyright {
        span {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #333333;
        }
    }
}