$light: #F8F8F8;
$orange: #FF6900;
$orangeHover: #FF822B;
$white: #FFFFFF;

.orange {
    color: $orange;
}

$xs_bp: 468px;
$sm_bp: 576px;
$sp_bp: 768px;
$tb_bp: 992px;
$dt_bp: 1200px;
$bdt_bp: 1330px;