#page_head {
    color: #fff;
    background: $blue;
    padding: 202px 0 100px;
    text-align: center;
    overflow: hidden;

    @media (max-width: $tb_bp) {
        padding: 140px 0 75px;
    }

    &.light {
        background: transparent;
        color: $dark;
    }

    h1 {
        font-size: 56px;

        @media (max-width: $tb_bp) {
            font-size: 30px;
            line-height: 110%;
            margin-bottom: 24px;
        }
    }
}

.text-page {
    padding-bottom: 60px;
    
    > p, > ul, > ol, > div, > blockquote, > h1, > h2, > h3, > h4, > h5, > h6, > figure, > em {
        margin-bottom: 21px;
    }

    .tc {
        text-align: center;
    }

    > p, > ul > li {
        line-height: 1.457;
    }

    > ul {
        display: grid;
        grid-gap: 21px;

        > li {
            position: relative;
            padding-left: 16px;

            &:before {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: $dark;
                left: 0;
                top: 12px;
            }
        }
    }

    h2 {
        font-size: 40px;
        line-height: 110%;
    }
}

.infoBlock {
    background: #FFFFFF;
    border-radius: 32px;
    position: relative;
    padding: 40px 50px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 24px;

    &:before {
        content: '';
        position: relative;
        display: block;
        width: 53px;
        height: 56px;
        background: url('../assets/images/infoIcon.svg') center no-repeat;
    }
}

body {
    &.error404, &.page-template-coming-soon {
        background: $blue;
        color: #fff;
    }
}

.errorPage {
    min-height: calc(100vh - 72px);
    padding-top: 6%;
    background: $blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 300px;
        line-height: 110%;

        @media (max-width: $bdt_bp) {
            font-size: 230px;
        }

        @media (max-width: $tb_bp) {
            font-size: 140px;
            line-height: 110%;
        }

        @media (max-width: 400px) {
            font-size: 100px;
            line-height: 110%;
        }
    }

    h3 {
        font-size: 56px;
        line-height: 110%;

        @media (max-width: $bdt_bp) {
            font-size: 46px;
        }

        @media (max-width: $tb_bp) {
            font-size: 30px;
            line-height: 110%;
        }
    }

    .page-header {
        text-align: center;
    }

    .button {
        text-align: center;
        padding-top: 40px;
    }
}