body {
    &.active-modal {
        #header {
            .content {
                &::before {
                    bottom: -4px;

                    @media (max-width: $sp_bp) {
                        bottom: 2px;
                    }
                }
            }
        }
    }
    &:not(.active-modal) {
        #header {
            &.blue, &.dark {
                background: $blue;
                .content {
                    &:before {
                        background: #fff;
                    }

                    #nav-icon {
                        span {
                            background: #fff;
                        }
                    }

                    .logo {
                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                        p {
                            color: #fff;
                        }
                    }

                    .navigation {
                        a {
                            &.btn {
                                color: #fff;
                                display: block;

                                svg {
                                    path {
                                        fill: #fff;
                                    }
                                }
                            }
                        }
                        > ul {

                            &.crm {
                                text-align: center;
                            }
                            > li {
                                a {
                                    color: #fff;

                                    &:hover {
                                        color: #fff;
                                    }
                                }

                                &.submenu > a {
                                    &::after {
                                        background: url("../assets/images/arrow_down_angle_white.svg") center / cover no-repeat;
                                    }
                                }

                                ul {
                                    li {
                                        a {
                                            color: #000;

                                            &:hover {
                                                color: #000;
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }

                                &.menu-item-has-children {
                                    > a {
                                        &:after {
                                            background: url('../assets/images/arrow_down_angle_white.svg') center / cover no-repeat;
                                        }
                                    }
                                }

                                &.external {
                                    > a {
                                        &:after {
                                            background: url('../assets/images/arrow_nav_angle_white.svg') center / cover no-repeat;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.dark {
                background: #081123;
            }
        }
    }

    &.post-template-default {
        &.active-modal {
            .da-modal-inner {
                background: $blue;
                color: #fff;

                .text-page {
                    padding: 56px 48px;
                    background: #fff;
                    border-radius: 32px;

                    @media (max-width: 992px) {
                        padding: 24px;
                    }

                    h2 {
                        color: #000;
                    }

                    .form {
                        form {
                            .field__title {
                                color: #000;
                            }
                        }

                        h2, h3, p {
                            color: #000;
                        }

                        &__sent {
                            > div {
                                min-height: 0;
                            }
                        }
                    }
                }
            }
            #header {
                    background: $blue;
                    .content {
                        &:before {
                            background: #fff;
                        }

                        #modal-icon {
                            span {
                                background: #fff;
                            }
                        }

                        .logo {
                            svg {
                                path {
                                    fill: #fff;
                                }
                            }
                            p {
                                color: #fff;
                            }
                        }
                    }
            }
        }
    }
}


#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: 0.3s all;
    height: 72px;
    z-index: 2;

    @media (max-width: $bdt_bp) {
        height: 61px;
    }

    &.fixed_header {
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 55;
        top: 0;
        background: #fff;

        .content {
            padding: 10px 0;

            @media (max-width: 992px) {
                padding: 14px 0;
            }

            &:before {
                display: none;
            }

            .logo {
                p {
                    display: none;
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            height: 4px;
            background: #081123;
            z-index: 33;
            pointer-events: none;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        padding: 20px 0 0;
        position: relative;
        transition: 0.3s all;

        .head_block {
            position: relative;
            z-index: 333;
        }

        @media (max-width: $tb_bp) {
            padding: 20px 0 7px;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 3px;
            width: 100%;
            left: 0;
            height: 4px;
            background: $dark;
            z-index: 33;
            pointer-events: none;

            @media (max-width: $bdt_bp) {
                bottom: -1px;
            }

            @media (max-width: $tb_bp) {
                bottom: 2px;
            }
        }

        .logo {
            max-width: 160px;
            position: relative;
            margin-right: 30px;

            img {
                display: block;
            }

            p {
                position: absolute;
                transform: translateY(7px);
                font-family: CriteriaCF, sans-serif;
                font-size: 16px;
                white-space: nowrap;
                letter-spacing: -0.8px;
            }
        }

        .navigation {
            display: flex;
            align-items: center;

            @media (max-width: $tb_bp) {
                flex-direction: column;
            }

            a {
                &.btn {
                    padding: 11px 0;
                    font-size: 18px;
                    display: inline-flex;
                    align-items: center;
                    background: transparent;
                    border: 0;
                    color: #081123;

                    @media (max-width: $tb_bp) {
                        display: none;
                    }

                    span {
                        font-weight: 500;
                        font-size: 18px;
                        font-family: CriteriaCF, sans-serif;

                        @media (max-width: $bdt_bp) {
                            font-size: 15px;
                        }
                    }

                    svg {
                        margin-left: 10px;

                        path {
                            fill: #081123;
                        }
                    }
                }
            }

            > ul {
                display: flex;
                padding-right: 40px;

                @media (max-width: $bdt_bp) {
                    padding-right: 20px;
                }

                > li {
                    position: relative;

                    &.menu-item-has-children, &.submenu {
                        > a {
                            display: inline-flex;
                            align-items: center;
                            &:after {
                                content: '';
                                width: 12px;
                                height: 7px;
                                background: url('../assets/images/arrow_down_angle.svg') center / cover no-repeat;
                                display: block;
                                margin-left: 4px;

                                @media (max-width: $tb_bp) {
                                    display: none;
                                }
                            }
                        }
                    }

                    &.external {
                        > a {
                            display: inline-flex;
                            align-items: center;

                            &:after {
                                content: '';
                                width: 8px;
                                height: 8px;
                                background: url('../assets/images/arrow_nav_angle.svg') center / cover no-repeat;
                                display: block;
                                margin-left: 4px;
                                top: 0;
                                position: relative;
                                transform: translateY(-5px);

                                @media (max-width: $tb_bp) {
                                    display: none;
                                }
                            }
                        }
                    }

                    &:first-child {
                        > a {
                            padding-left: 0;
                        }
                    }

                    &:last-child {
                        > a {
                            padding-right: 0;
                        }
                    }

                    > a {
                        text-decoration: none;
                        font-weight: normal;
                        font-size: 18px;
                        padding: 15px 20px;
                        position: relative;
                        display: block;

                        @media (max-width: $bdt_bp) {
                            font-size: 15px;
                            padding: 11px 10px;
                        }
                        
                        @media (max-width: $tb_bp) {
                            padding: 11px 0;
                        }

                        &:hover {
                            color: $blue;

                            @media (max-width: $tb_bp) {
                                color: #fff;
                            }
                        }
                    }

                    > ul {
                        position: absolute;
                        background: #F5F5F5;
                        border-radius: 24px;
                        padding: 16px;
                        transform: translateX(-50%);
                        left: 50%;
                        width: 350px;
                        top: 100%;
                        margin: 0;
                        z-index: 33;
                        display: none;
                        //filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.02));
                        box-shadow: 0px 6px 15px 6px #00000014;

                        li {
                            padding: 0 24px;

                            &.cases {
                                background: #FFFFFF;
                                border-radius: 24px;
                                padding: 9px 24px 7px;
                                margin-bottom: 14px;
                            }

                            > ul {
                                margin: 0;
                                li {
                                    padding: 0;
                                    > span {
                                        background: #F5A431;
                                        border: 1px solid #F5A431;
                                        border-radius: 10px;
                                        font-size: 12px;
                                        line-height: 130%;
                                        color: $dark;
                                        padding: 4px 8px;
                                        margin: 8px 0 6px;
                                        display: inline-block;
                                    }

                                    a {
                                        padding-left: 0;
                                        padding-right: 0;
                                    }
                                }
                            }
                        }

                        a {
                            padding: 8px 0;
                            text-decoration: none;
                            font-size: 18px;
                            display: inline-flex;
                            align-items: center;
                            transition: 0.3s all;

                            @media (max-width: $bdt_bp) {
                                font-size: 16px;
                            }

                            span {
                                font-weight: 500;
                                font-family: CriteriaCF, sans-serif;

                                @media (max-width: $bdt_bp) {
                                    font-size: 16px;
                                }
                            }

                            svg {
                                margin-left: 6px;
                                transition: 0.3s all;
                            }

                            &:hover {
                                color: $blue;

                                svg {
                                    transform: translateX(4px);

                                    path {
                                        fill: $blue
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        > ul {
                            display: block;

                            @media (max-width: $tb_bp) {
                                display: none;
                            }
                        }
                    }
                }
            }

            @media (max-width: $tb_bp) {
                position: fixed;
                left: 0;
                width: 100%;
                background: $blue;
                top: -100%;
                opacity: 0;
                padding: 110px 0 30px 0;
                z-index: 3;
                box-shadow: 0 40px 15px 19px rgba(0, 0, 0, 0.04);
                height: 100%;

                a {
                    color: #fff;

                    &:hover {
                        text-decoration: underline;
                        color: #fff;
                    }
                }

                > ul {
                    flex-direction: column;
                    width: 100%;
                    max-width: 720px;
                    margin: 0 auto;
                    padding: 0 15px;

                    @media (max-width: $sp_bp) {
                        max-width: 540px;
                    }

                    li {
                        padding: 10px 0;
                        margin: 0;

                        button {
                            &.btn {
                                display: none;
                            }
                        }

                        > ul {
                            display: none;
                        }
                    }
                }

                &.active {
                    top: 0;
                    opacity: 1;
                }
            }
        }

        .nav_icon {
            display: none;

            @media (max-width: $tb_bp) {
                display: block;
            }
        }

        .modal_icon {
            display: none;
        }
    }
}


@media (max-width: 781px) {
    body {
        &.admin-bar {
            #header {
                top: 46px;
            }

            #navigation {
                top: 46px;
                height: calc(100vh - 46px);

                .cont {
                    max-height: calc(100vh - 131px);
                }

                &.fixed_header {
                    height: 100vh;
                    top: 0;

                    .cont {
                        max-height: calc(100vh - 85px);
                    }
                }
            }

            #header {
                &.fixed_header {
                    top: 46px;
                }
            }
        }
    }
}


@media (min-width: 782px) {
    body {
        &.admin-bar {
            #header {
                top: 32px;
            }

            #navigation {
                top: 32px;
                height: calc(100vh - 32px);

                .cont {
                    max-height: calc(100vh - 236px);
                }

                &.fixed_header {
                    .cont {
                        max-height: calc(100vh - 122px);
                    }
                }
            }

            #header {
                &.fixed_header {
                    top: 32px;
                }
            }
        }
    }
}