body {
    &.active-nav {
        overflow: hidden;
    }
}

.open-nav {
    background: transparent;
    border: 0;
    padding: 0;
}

#nav-icon {
    width: 22px;
    height: 14px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index:333;

    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #454545;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2), &:nth-child(3) {
            top: 6px;
        }

        &:nth-child(4) {
            top: 12px;
        }
    }

    &.active {
        span {

            &:nth-child(1) {
                top: 6px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 6px;
                width: 0%;
                left: 50%;
            }
        }
    }
}


.mobile-navigation {
    background: #000;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 25px 15px;
    top: -100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s all;
    //   position: relative;

    &:before {
        content: '';
        position: absolute;
        z-index: 3;
        left: 0;
        bottom: 0;
        height: 669px;
        width: 126px;
    }

    .container {
        overflow-y: auto;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        display: flex;
        max-height: 100%;
        flex-direction: column;
    }

    &.active {
        opacity: 1;
        top: 0;
    }

    .cont {
        flex: 1 0 auto;
        padding-top: 80px;

        ul {
            margin-bottom: 30px;
            li {
                padding: 12px 0;
                border-bottom: 1px solid #383838;

                &:last-child {
                    border: 0;
                }
                a {
                    font-weight: 500;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }

        h4 {
            color: rgba(0, 0, 0, 0.4);
            text-transform: uppercase;
        }
    }

    .foot {
        flex: 0 0 auto;
        border-top: 1px solid #656b72;
        padding-top: 30px;

        ul {
            display: flex;

            li {
                padding:  0 12px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                &.language {
                    flex-grow: 1;
                    text-align: right;

                    a {
                        display: inline-block;
                        color: #fff;
                    }
                }
            }
        }
    }
}
