h1 {
    font-size: 48px;
    line-height: 120.7%;
    text-transform: uppercase;
    color: #000000;
    font-weight: normal;

    @media (max-width: $tb_bp) {
        font-size: 36px;
    }
}

h2 {
    font-size: 36px;
    line-height: 120.7%;
    text-transform: uppercase;
    color: #333333;
    font-weight: 500;
    position: relative;

    @media (max-width: $tb_bp) {
        font-size: 30px;
    }

    &.line {
        padding-bottom: 30px;
        &:before {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 60px;
            background: $orange;
            height: 1px;
        }
    }
}

h3 {
    font-size: 32px;
    line-height: 120.7%;
    text-transform: uppercase;
    color: #333333;
    font-weight: normal;

    @media (max-width: $tb_bp) {
        font-size: 24px;
    }
}

h4 {
    font-size: 24px;
    line-height: 120.7%;
    text-transform: uppercase;
    font-weight: normal;

    @media (max-width: $tb_bp) {
        font-size: 20px;
    }
}

h5 {
    font-size: 20px;
    line-height: 120.7%;
    text-transform: uppercase;
    font-weight: normal;

    @media (max-width: $tb_bp) {
        font-size: 18px;
    }

    &.line {
        position: relative;
        padding-bottom: 24px;
        letter-spacing: 0.2em;

        &:before {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 60px;
            background: $orange;
            height: 1px;
        }
    }
}