#subscribe {
    padding-bottom: 60px;

    @media (max-width: $tb_bp) {
        padding-bottom: 45px;
    }

    .content {
        background: $orange;
        color: $white;
        padding: 55px;
        display: grid;
        align-items: center;
        justify-content: center;

        @media (max-width: $tb_bp) {
            padding: 40px 30px;
        }

        h2 {
            color: $white;
            text-align: center;
            margin-bottom: 40px;

            @media (max-width: $tb_bp) {
                margin-bottom: 20px;
            }
        }

        .form {
            &__sent {
                display: none;

                h2 {
                    margin-bottom: 20px;
                }
            }
        }

        #subscribe_from {
            max-width: 530px;
            position: relative;

            input:not(.btn) {
                border-bottom: 1px solid $white;
                color: $white;
                padding: 15px 0;

                &::placeholder {
                    color: #fff;
                }
            }

            input {
                &.btn {
                    margin: 40px auto 0;
                    display: block;
                    width: 100%;
                    max-width: 245px;

                    @media (max-width: $tb_bp) {
                        margin-top: 20px;
                    }
                }
            }

            .wpcf7-spinner {
                position: absolute;
                right: 0;
                top: 18px;
                margin: 0;
            }
        }
    }
}